/*  Start Variables*/

:root {
    --main-color: #10cab7;
    --seco-color: #2c4755;
    --section-padding: 60px;
    --section-color: #f6f6f6;
}


/*  End Variables*/


/* Global Rules start */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* small */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/* medium */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/* large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* Global Rules End */


/* start components */

.spical-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    text-align: center;
}

.spical-heading+p {
    margin: -30px 0 0;
    font-size: 19px;
    color: #797979;
    text-align: center;
}

@media (max-width:767px) {
    .spical-heading {
        font-size: 60px;
    }
    .spical-heading+p {
        font: 17px;
        margin: -20px 0 0;
    }
}


/* end components */


/* start header  */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
    display: flex;
    align-self: flex-start;
}

.header .links {
    position: relative;
    z-index: 1;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span {
    margin-bottom: 5px;
    height: 2px;
    background-color: #222;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    min-width: 200px;
    background-color: var(--section-color);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


/* end header  */


/* start landing section */

.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}


/* end landing section */


/* start feature section */

.features {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
    background-color: var(--section-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 40px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    font-size: 17px;
    line-height: 1.8;
    color: #717171;
}


/* end feature section */


/* start services section */

.services {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 30px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv h3 {
    margin: 0 0 20px;
}

.services .services-content .serv p {
    font-weight: 300;
    color: #767676;
    line-height: 1.6;
}

.services .services-content .image {
    position: relative;
    text-align: center;
}

.services .services-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    position: absolute;
    background-color: var(--seco-color);
    z-index: -1;
}

.services .services-content .image-column img {
    width: 240px;
}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}


/* end services section */


/* start portfolio */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.portfolio .portfolio-content .card {
    background-color: #fff;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #767676;
    margin-bottom: 0;
    line-height: 1.6;
}

@media (max-width:767px) {
    .portfolio .portfolio-content .card .info {
        padding: 20px;
        text-align: center;
    }
}


/* end portfolio */


/* start About */

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 430px 1fr;
}

@media (max-width:991px) {
    .about .about-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 245px;
    height: 367px;
    margin-bottom: 30px;
}

@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 30px;
    }
}

.about .about-content .image::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -20px;
    width: 80px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    z-index: -1;
}

.about .about-content .image::after {
    content: '';
    position: absolute;
    top: -30px;
    right: -110px;
    border-left: 85px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    width: 85px;
    height: 270px;
    z-index: -1;
}

@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    color: #243842;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

.about .about-content .text p:last-of-type {
    line-height: 1.8;
    color: #6f6f6f;
}


/* end About */


/* start contact */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .lab {
    font-size: 35px;
    font-weight: 800;
    color: var(--seco-color);
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.contact .info .links {
    font-size: 35px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 20px;
}

.contact .info .social {
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
    color: var(--seco-color);
}

.contact .info .social i {
    color: #1a2b33;
    transition: 0.2s;
    margin-left: 15px;
    cursor: pointer;
}

.contact .info .social #A_1:hover {
    color: #223bfc;
}

.contact .info .social #A_2:hover {
    color: red;
}

.contact .info .social #A_3:hover {
    color: #22b4d5;
}

@media (max-width:767px) {
    .contact .info .lab,
    .contact .info .links {
        font-size: 25px;
    }
    .contact .info .social {
        font-size: 16px;
    }
}


/* end contact */


/* start footer */

.footer {
    background-color: var(--seco-color);
    text-align: center;
    padding: 25px;
    color: white;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}


/* end footer */